# TASK 1

**Description**

.There are 2 datasets present in the file. Data 1 and Data 2.
    
.The primary key for both data1 and data2 is Order Id + Product ID combination (i.e. the individual datasets do not have any duplicate on this combination)

**Provide solution and approach for the following:**

1.How to identify the Records (Order ID + Product ID combination) present in data1 but missing in data2*(Specify the number of records missing in your answer)*

2.How to identify the Records (Order ID + Product ID combination) missing in data1 but present in data2 *(Specify the number of records missing in your answer)*

3.Find the Sum of the total Qty of Records missing in data1 but present in data2

4.Find the total number of unique records (Order ID + Product ID combination) present in the combined dataset of data1 and data2

In [1]:
#Importing Pandas for data analysis
import pandas as pd

A. Downloaded the excel file and then converted it into 2 seperate csv files for each dataset i.e data1 and data2

In [2]:
#Reading Data1
df1 = pd.read_csv('Data1.csv')
df1

            Order ID       Product ID  Qty
0     CA-2014-100006  TEC-PH-10002075    3
1     CA-2014-100090  FUR-TA-10003715    3
2     CA-2014-100090  OFF-BI-10001597    6
3     CA-2014-100293  OFF-PA-10000176    6
4     CA-2014-100328  OFF-BI-10000343    1
...              ...              ...  ...
9473  US-2017-169551  OFF-PA-10004100    3
9474  US-2017-169551  OFF-ST-10004835    3
9475  US-2017-169551  TEC-AC-10002018    3
9476  US-2017-169551  TEC-AC-10003033    2
9477  US-2017-169551  TEC-PH-10001363    2

[9478 rows x 3 columns]

In [3]:
#Reading Data2
df2 = pd.read_csv('Data2.csv')
df2

            Order ID       Product ID  Qty
0     CA-2014-100090  FUR-TA-10003715    3
1     CA-2014-100090  OFF-BI-10001597    6
2     CA-2014-100293  OFF-PA-10000176    6
3     CA-2014-100328  OFF-BI-10000343    1
4     CA-2014-100363  OFF-FA-10000611    2
...              ...              ...  ...
9474  US-2017-169551  OFF-PA-10004100    3
9475  US-2017-169551  OFF-ST-10004835    3
9476  US-2017-169551  TEC-AC-10002018    3
9477  US-2017-169551  TEC-AC-10003033    2
9478  US-2017-169551  TEC-PH-10001363    2

[9479 rows x 3 columns]

B. Renaming the columns Product ID and Order ID as Product_ID and Order_ID respectively

In [4]:
#Renaming the Columns
df1.rename(columns={'Order ID': 'Order_ID', 'Product ID': 'Product_ID'}, inplace=True)
df2.rename(columns={'Order ID': 'Order_ID', 'Product ID': 'Product_ID'}, inplace=True)

C. Combining Order_ID and Product_ID as they both are primary keys and make a new column as “NewPK” which is the new Primary key for the datasets

In [5]:
#Concatenating Primary Keys 'Order_ID' and 'Product_ID' into one key 'NewPK'
cols = ['Order_ID','Product_ID']
df1['NewPK'] = df1[cols].apply(lambda row: '_'.join(row.values.astype(str)), axis=1)
df2['NewPK'] = df2[cols].apply(lambda row: '_'.join(row.values.astype(str)), axis=1)

In [6]:
#Checking the updated data1
df1.head()

         Order_ID       Product_ID  Qty                           NewPK
0  CA-2014-100006  TEC-PH-10002075    3  CA-2014-100006_TEC-PH-10002075
1  CA-2014-100090  FUR-TA-10003715    3  CA-2014-100090_FUR-TA-10003715
2  CA-2014-100090  OFF-BI-10001597    6  CA-2014-100090_OFF-BI-10001597
3  CA-2014-100293  OFF-PA-10000176    6  CA-2014-100293_OFF-PA-10000176
4  CA-2014-100328  OFF-BI-10000343    1  CA-2014-100328_OFF-BI-10000343

In [7]:
#Checking the updated data2
df2.head()

         Order_ID       Product_ID  Qty                           NewPK
0  CA-2014-100090  FUR-TA-10003715    3  CA-2014-100090_FUR-TA-10003715
1  CA-2014-100090  OFF-BI-10001597    6  CA-2014-100090_OFF-BI-10001597
2  CA-2014-100293  OFF-PA-10000176    6  CA-2014-100293_OFF-PA-10000176
3  CA-2014-100328  OFF-BI-10000343    1  CA-2014-100328_OFF-BI-10000343
4  CA-2014-100363  OFF-FA-10000611    2  CA-2014-100363_OFF-FA-10000611

**1.How to identify the Records (Order ID + Product ID combination) present in data1 but missing in data2 (Specify the number of records missing in your answer)**

In [8]:
#Fetching data which is in data1 but not in data2
#x contains the data which is only in data1
x = df1[df1.NewPK.isin(df2.NewPK) == False]

In [9]:
#Displaying 'x'
print(x)

            Order_ID       Product_ID  Qty                           NewPK
0     CA-2014-100006  TEC-PH-10002075    3  CA-2014-100006_TEC-PH-10002075
10    CA-2014-100678  OFF-EN-10000056    3  CA-2014-100678_OFF-EN-10000056
19    CA-2014-100895  OFF-AR-10004511    2  CA-2014-100895_OFF-AR-10004511
35    CA-2014-101560  OFF-BI-10000309    3  CA-2014-101560_OFF-BI-10000309
61    CA-2014-102673  OFF-LA-10001771   12  CA-2014-102673_OFF-LA-10001771
...              ...              ...  ...                             ...
9390  US-2017-160836  OFF-AP-10001626    2  US-2017-160836_OFF-AP-10001626
9403  US-2017-162558  FUR-FU-10002364    2  US-2017-162558_FUR-FU-10002364
9420  US-2017-163657  OFF-BI-10000138    5  US-2017-163657_OFF-BI-10000138
9427  US-2017-164056  FUR-TA-10001307    5  US-2017-164056_FUR-TA-10001307
9435  US-2017-165456  FUR-CH-10003981    6  US-2017-165456_FUR-CH-10003981

[507 rows x 4 columns]

In [10]:
#Displaying number of records which is in data1 but not in data2
print(x.shape[0])

507

**2.How to identify the Records (Order ID + Product ID combination) present in data2 but missing in data1 (Specify the number of records missing in your answer)**

In [11]:
#Fetching data which is in data2 but not in data1
#y contains the data which is only in data2
y = df2[df2.NewPK.isin(df1.NewPK) == False]

In [12]:
#Displaying 'y'
print(y)

            Order_ID       Product_ID  Qty                           NewPK
11    CA-2014-100706  TEC-AC-10001314    2  CA-2014-100706_TEC-AC-10001314
14    CA-2014-100762  OFF-PA-10001815    3  CA-2014-100762_OFF-PA-10001815
30    CA-2014-101427  OFF-AR-10002257    3  CA-2014-101427_OFF-AR-10002257
56    CA-2014-102652  FUR-FU-10001918    7  CA-2014-102652_FUR-FU-10001918
63    CA-2014-102869  OFF-PA-10000788    3  CA-2014-102869_OFF-PA-10000788
...              ...              ...  ...                             ...
9428  US-2017-165344  OFF-BI-10003196   10  US-2017-165344_OFF-BI-10003196
9433  US-2017-165358  TEC-CO-10001943    5  US-2017-165358_TEC-CO-10001943
9455  US-2017-167920  OFF-AP-10000159    5  US-2017-167920_OFF-AP-10000159
9471  US-2017-169502  OFF-AP-10001947    5  US-2017-169502_OFF-AP-10001947
9473  US-2017-169551  FUR-BO-10001519    3  US-2017-169551_FUR-BO-10001519

[508 rows x 4 columns]

In [13]:
#Displaying number of records which is in data2 but not in data1
print(y.shape[0])

508

**3.Find the Sum of the total Qty of Records missing in data1 but present in data2**

In [14]:
#'y' dataframe contains records present in data2 but not in data1
#Sum of Quantities of 'y' dataframe will give the desired result
print(y['Qty'].sum())

1956

**4.Find the total number of unique records (Order ID Product ID combination) present in the combined dataset of data1 and data2**

In [15]:
#Concatenating 'x' and 'y' to get the the records present in data1 but missing in data2 and the records present in data2 but missing in data1
combined_xy = pd.concat([x, y])

In [16]:
#Displaying the newly concatenated 'combined_xy'
print(combined_xy)

            Order_ID       Product_ID  Qty                           NewPK
0     CA-2014-100006  TEC-PH-10002075    3  CA-2014-100006_TEC-PH-10002075
10    CA-2014-100678  OFF-EN-10000056    3  CA-2014-100678_OFF-EN-10000056
19    CA-2014-100895  OFF-AR-10004511    2  CA-2014-100895_OFF-AR-10004511
35    CA-2014-101560  OFF-BI-10000309    3  CA-2014-101560_OFF-BI-10000309
61    CA-2014-102673  OFF-LA-10001771   12  CA-2014-102673_OFF-LA-10001771
...              ...              ...  ...                             ...
9428  US-2017-165344  OFF-BI-10003196   10  US-2017-165344_OFF-BI-10003196
9433  US-2017-165358  TEC-CO-10001943    5  US-2017-165358_TEC-CO-10001943
9455  US-2017-167920  OFF-AP-10000159    5  US-2017-167920_OFF-AP-10000159
9471  US-2017-169502  OFF-AP-10001947    5  US-2017-169502_OFF-AP-10001947
9473  US-2017-169551  FUR-BO-10001519    3  US-2017-169551_FUR-BO-10001519

[1015 rows x 4 columns]

In [17]:
#Merging data1 and data2 to get the records common in data1 and data2
merged_df = df1.merge(df2)

In [18]:
#Displaying 'merged_df'
print(merged_df)

            Order_ID       Product_ID  Qty                           NewPK
0     CA-2014-100090  FUR-TA-10003715    3  CA-2014-100090_FUR-TA-10003715
1     CA-2014-100090  OFF-BI-10001597    6  CA-2014-100090_OFF-BI-10001597
2     CA-2014-100293  OFF-PA-10000176    6  CA-2014-100293_OFF-PA-10000176
3     CA-2014-100328  OFF-BI-10000343    1  CA-2014-100328_OFF-BI-10000343
4     CA-2014-100363  OFF-FA-10000611    2  CA-2014-100363_OFF-FA-10000611
...              ...              ...  ...                             ...
8966  US-2017-169551  OFF-PA-10004100    3  US-2017-169551_OFF-PA-10004100
8967  US-2017-169551  OFF-ST-10004835    3  US-2017-169551_OFF-ST-10004835
8968  US-2017-169551  TEC-AC-10002018    3  US-2017-169551_TEC-AC-10002018
8969  US-2017-169551  TEC-AC-10003033    2  US-2017-169551_TEC-AC-10003033
8970  US-2017-169551  TEC-PH-10001363    2  US-2017-169551_TEC-PH-10001363

[8971 rows x 4 columns]

In [19]:
#Concatenating dataframes 'merged_df' and 'combined_xy' will give the result
uniq_df = pd.concat([merged_df, combined_xy])

In [20]:
#Displaying 'uniq_df'
print(uniq_df)

            Order_ID       Product_ID  Qty                           NewPK
0     CA-2014-100090  FUR-TA-10003715    3  CA-2014-100090_FUR-TA-10003715
1     CA-2014-100090  OFF-BI-10001597    6  CA-2014-100090_OFF-BI-10001597
2     CA-2014-100293  OFF-PA-10000176    6  CA-2014-100293_OFF-PA-10000176
3     CA-2014-100328  OFF-BI-10000343    1  CA-2014-100328_OFF-BI-10000343
4     CA-2014-100363  OFF-FA-10000611    2  CA-2014-100363_OFF-FA-10000611
...              ...              ...  ...                             ...
9428  US-2017-165344  OFF-BI-10003196   10  US-2017-165344_OFF-BI-10003196
9433  US-2017-165358  TEC-CO-10001943    5  US-2017-165358_TEC-CO-10001943
9455  US-2017-167920  OFF-AP-10000159    5  US-2017-167920_OFF-AP-10000159
9471  US-2017-169502  OFF-AP-10001947    5  US-2017-169502_OFF-AP-10001947
9473  US-2017-169551  FUR-BO-10001519    3  US-2017-169551_FUR-BO-10001519

[9986 rows x 4 columns]

In [22]:
#Total number of unique records in the combined dataset of df1 and df2
print(uniq_df.shape[0])

9986